.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
Die_ersten_Schritte_in_R_-_DOZENTENFASSUNG*.docx
Die_ersten_Schritte_in_R_-_DOZENTENFASSUNG*.log
Die_ersten_Schritte_in_R_-_DOZENTENFASSUNG*.tex
tips.csv
